# EDA Financial Statements

### 1. Manipulação

#### 1.1 Imports

In [1]:
import pandas as pd
import sqlite3

#### 1.2 Coleta

In [2]:
df = pd.read_csv('Financial Statements.csv')
df.head()

,Year,Company,Category,Market Cap(in B USD),Revenue,Gross Profit,Net Income,Earning Per Share,EBITDA,Share Holder Equity,...,Current Ratio,Debt/Equity Ratio,ROE,ROA,ROI,Net Profit Margin,Free Cash Flow per Share,Return on Tangible Equity,Number of Employees,Inflation Rate(in US)
0,2022,AAPL,IT,2066.94,394328.0,170782.0,99803.0,6.11,130541.0,50672.0,...,0.8794,2.3695,196.9589,28.2924,66.6994,25.3096,1.3146,196.9589,164000,8.0028
1,2021,AAPL,IT,2913.28,365817.0,152836.0,94680.0,5.61,120233.0,63090.0,...,1.0746,1.9768,150.0713,26.9742,54.9839,25.8818,1.3261,150.0713,154000,4.6979
2,2020,AAPL,IT,2255.97,274515.0,104956.0,57411.0,3.28,77344.0,65339.0,...,1.3636,1.7208,87.8664,17.7256,35.0054,20.9136,1.0183,87.8664,147000,1.2336
3,2019,AAPL,IT,1304.76,260174.0,98392.0,55256.0,2.97,76477.0,90488.0,...,1.5401,1.1940,61.0645,16.3230,30.3113,21.2381,-0.0388,61.0645,137000,1.8122
4,2018,AAPL,IT,748.54,265595.0,101839.0,59531.0,2.98,81801.0,107147.0,...,1.1329,1.0685,55.5601,16.2775,29.6348,22.4142,0.7414,55.5601,132000,2.4426

#### 1.3 Tratamento

Nulos

In [3]:
df.isnull().sum()

Year                                   0
Company                                0
Category                               0
Market Cap(in B USD)                   1
Revenue                                0
Gross Profit                           0
Net Income                             0
Earning Per Share                      0
EBITDA                                 0
Share Holder Equity                    0
Cash Flow from Operating               0
Cash Flow from Investing               0
Cash Flow from Financial Activities    0
Current Ratio                          0
Debt/Equity Ratio                      0
ROE                                    0
ROA                                    0
ROI                                    0
Net Profit Margin                      0
Free Cash Flow per Share               0
Return on Tangible Equity              0
Number of Employees                    0
Inflation Rate(in US)                  0
dtype: int64

In [4]:
df.dropna(subset='Market Cap(in B USD)', inplace=True)

Duplicados

In [5]:
df.duplicated().sum()

0

Checando Colunas Categóricas

Category

In [6]:
df['Category'].unique()

array(['IT', 'FinTech', 'Bank', 'Manufacturing', 'Finance', 'FOOD',
       'BANK', 'ELEC', 'LOGI'], dtype=object)

In [7]:
# Corrigindo os valores "Bank" e "BANK" 
df['Category'].replace('Bank', 'BANK', inplace= True)

In [8]:
df['Category'].unique()

array(['IT', 'FinTech', 'BANK', 'Manufacturing', 'Finance', 'FOOD',
       'ELEC', 'LOGI'], dtype=object)

Company

In [9]:
df['Company '].unique() # Nome da coluna está com espaço, isso pode causar erros no futuro

array(['AAPL', 'MSFT', 'GOOG', 'PYPL', 'AIG', 'PCG', 'SHLDQ', 'MCD',
       'BCS', 'NVDA', 'INTC', 'AMZN'], dtype=object)

In [10]:
df.rename(columns={'Company ': 'Company'}, inplace=True) # Removendo o espaço no nome da coluna "Company"

In [11]:
df[['Company']].head(1)

  Company
0    AAPL

Renomeando algumas colunas

In [12]:
nomes_novos = {
    'Market Cap(in B USD)' :'Market Cap',
    'Inflation Rate(in US)':'Inflation Rate'
}
df.rename(columns=nomes_novos, inplace=True)

#### 1.4 DataFrame para SQLite

In [13]:
# Conectando ao Database
cnn = sqlite3.connect('FINANCIAL.db')

# Movendo o Dataframe para SQL
df.to_sql('df', cnn)

160

In [14]:
# Carregando o módulo SQL e acessando o Database

%load_ext sql
%sql sqlite:///FINANCIAL.db

### 2. Análise dos Dados

In [15]:
%%sql

SELECT * FROM df
LIMIT 5

 * sqlite:///FINANCIAL.db
Done.

[(0, 2022, 'AAPL', 'IT', 2066.94, 394328.0, 170782.0, 99803.0, 6.11, 130541.0, 50672.0, 122151.0, -22354.0, -110749.0, 0.8794, 2.3695, 196.9589, 28.2924, 66.6994, 25.3096, 1.3146, 196.9589, 164000, 8.0028),
 (1, 2021, 'AAPL', 'IT', 2913.28, 365817.0, 152836.0, 94680.0, 5.61, 120233.0, 63090.0, 104038.0, -14545.0, -93353.0, 1.0746, 1.9768, 150.0713, 26.9742, 54.9839, 25.8818, 1.3261, 150.0713, 154000, 4.6979),
 (2, 2020, 'AAPL', 'IT', 2255.97, 274515.0, 104956.0, 57411.0, 3.28, 77344.0, 65339.0, 80674.0, -4289.0, -86820.0, 1.3636, 1.7208, 87.8664, 17.7256, 35.0054, 20.9136, 1.0183, 87.8664, 147000, 1.2336),
 (3, 2019, 'AAPL', 'IT', 1304.76, 260174.0, 98392.0, 55256.0, 2.97, 76477.0, 90488.0, 69391.0, 45896.0, -90976.0, 1.5401, 1.194, 61.0645, 16.323, 30.3113, 21.2381, -0.0388, 61.0645, 137000, 1.8122),
 (4, 2018, 'AAPL', 'IT', 748.54, 265595.0, 101839.0, 59531.0, 2.98, 81801.0, 107147.0, 77434.0, 16066.0, -87876.0, 1.1329, 1.0685, 55.5601, 16.2775, 29.6348, 22.4142, 0.7414, 55.5601, 132000, 2.4426)]

#### 2.1 Qual é a Receita Média por categoria ?

In [16]:
%%sql

SELECT 
    Category,
    ROUND(AVG(Revenue)) as [Receita Média]
FROM df
GROUP BY Category
ORDER BY [Receita Média] DESC

 * sqlite:///FINANCIAL.db
Done.

[('LOGI', 188247.0),
 ('IT', 143951.0),
 ('BANK', 47955.0),
 ('Finance', 34559.0),
 ('ELEC', 33695.0),
 ('FOOD', 24145.0),
 ('FinTech', 17594.0),
 ('Manufacturing', 16874.0)]

#### 2.2 Quais são as cinco empresas tiveram o maior Market Cap em um ano ?

In [17]:
%%sql

SELECT
    Year,
    Company,
    [Market Cap]
FROM df
GROUP BY Year, Company
ORDER BY [Market Cap] DESC
LIMIT 5

 * sqlite:///FINANCIAL.db
Done.

[(2021, 'AAPL', 2913.28),
 (2021, 'MSFT', 2525.08),
 (2023, 'MSFT', 2451.23),
 (2020, 'AAPL', 2255.97),
 (2022, 'AAPL', 2066.94)]

#### 2.3 Quais categorias de empresas têm a maior média de ROA (Retorno Sobre Ativos)?

In [18]:
%%sql

SELECT 
    Category,
    ROUND(AVG(ROA), 2) AS ROA
FROM df
GROUP BY Category
ORDER BY ROA DESC

 * sqlite:///FINANCIAL.db
Done.

[('IT', 15.68),
 ('FOOD', 14.3),
 ('ELEC', 12.24),
 ('FinTech', 4.62),
 ('LOGI', 3.33),
 ('BANK', 0.49),
 ('Manufacturing', 0.05),
 ('Finance', -7.67)]

#### 2.4 Qual é a média do Lucro Líquido (Net Income) para todas as empresas?

In [19]:
%%sql

SELECT
    Company,
    ROUND(AVG([Net Income])) AS [Lucro Liquido]
FROM df
GROUP BY Company
ORDER BY [Lucro Liquido] DESC

 * sqlite:///FINANCIAL.db
Done.

[('AAPL', 48612.0),
 ('MSFT', 32138.0),
 ('GOOG', 25121.0),
 ('INTC', 13095.0),
 ('AMZN', 5880.0),
 ('MCD', 5401.0),
 ('AIG', 2991.0),
 ('BCS', 2875.0),
 ('PYPL', 2466.0),
 ('NVDA', 2206.0),
 ('PCG', -285.0),
 ('SHLDQ', -1043.0)]

#### 2.5 Quais são as cinco empresas com o maior EBITDA em um ano ?

In [20]:
%%sql

SELECT 
    Year,
    Company,
    EBITDA
FROM df
GROUP BY Year, Company
ORDER BY EBITDA DESC
LIMIT 5

 * sqlite:///FINANCIAL.db
Done.

[(2022, 'AAPL', 130541.0),
 (2021, 'AAPL', 120233.0),
 (2023, 'MSFT', 102384.0),
 (2022, 'MSFT', 97843.0),
 (2021, 'GOOG', 91155.0)]

#### 2.6 Quais são as cinco empresas que tiveram o maior aumento percentual no Market Cap de um ano para outro?

In [21]:
%%sql

SELECT 
    Year,
    Company,
    ROUND(([Market Cap] - LAG([Market Cap]) OVER(PARTITION BY Company ORDER BY Year))) AS Market_Cap_Cresc,
    ROUND((([Market Cap] - LAG([Market Cap]) OVER(PARTITION BY Company ORDER BY Year)) / lag([Market Cap]) OVER (PARTITION BY Company ORDER BY Year)) * 100) AS Porcentagem_Cresc
FROM df
ORDER BY Porcentagem_Cresc DESC
LIMIT 5

 * sqlite:///FINANCIAL.db
Done.

[(2011, 'AIG', 36.0, 466.0),
 (2019, 'PCG', 19.0, 330.0),
 (2016, 'NVDA', 40.0, 224.0),
 (2023, 'NVDA', 641.0, 178.0),
 (2021, 'NVDA', 413.0, 128.0)]

#### 2.7 Quais são as 10 empresas que tiveram maior margem de lucro líquido em um ano ?

In [22]:
%%sql

SELECT
    Year,
    Company,
    [Net Profit Margin]
FROM df
WHERE [Net Profit Margin] > 20.0
GROUP BY Year, Company
ORDER BY [Net Profit Margin] DESC 
LIMIT 10

 * sqlite:///FINANCIAL.db
Done.

[(2022, 'MSFT', 36.6863),
 (2021, 'MSFT', 36.4517),
 (2022, 'NVDA', 36.2339),
 (2019, 'NVDA', 35.3448),
 (2023, 'MSFT', 34.1462),
 (2011, 'MSFT', 33.0984),
 (2021, 'MCD', 32.4903),
 (2018, 'NVDA', 31.3671),
 (2019, 'MSFT', 31.1817),
 (2020, 'MSFT', 30.9625)]